<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
  </head>
  <body>
    <div class="dexktop">
      <div class="slide-16-9-1" style="box-sizing: border-box;background: #ffffff;height: 920px;position: relative;overflow: hidden;">
        <div class="thank-you-for-your-order" style="box-sizing: border-box;color: #000000;text-align: center;font-family: &quot;Manrope-Medium&quot;, sans-serif;font-size: 48px;font-weight: 500;position: absolute;left: calc(50% - 282px);top: 68px;">Thank You for Your Order!</div>
        <div class="hello-arman-thank-you-for-your-recent-order-we-are-pleased-to-confirm-thar-we-have-received-your-order-and-it-is-currently-being-processed" style="box-sizing: border-box;color: #000000;text-align: center;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 14px;line-height: 150%;font-weight: 400;position: absolute;left: calc(50% - 481px);top: 155px;width: 963px;">
          Hello {{title}},
          <br style="box-sizing: border-box;">
          Thank you for your recent order We are pleased to confirm thar we have
          received your order and it is currently being processed.
        </div>
        <div class="group-404" style="box-sizing: border-box;width: 335px;height: 50px;position: static;">
          <div class="group-404" style="box-sizing: border-box;width: 335px;height: 50px;position: static;">
            <div class="rectangle-80" style="box-sizing: border-box;background: #006a5d;border-radius: 86px;width: 335px;height: 50px;position: absolute;left: 793px;top: 218px;"></div>
            <div class="view-order" style="box-sizing: border-box;color: #ffffff;text-align: left;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 16px;line-height: 150%;font-weight: 400;position: absolute;left: 921px;top: 231px;">View Order</div>
          </div>
        </div>
        <div class="group-423" style="box-sizing: border-box;width: 813px;height: 411px;position: static;">
          <div class="group-421" style="box-sizing: border-box;width: 374px;height: 411px;position: static;">
            <div class="order-summary" style="box-sizing: border-box;color: #000000;text-align: center;font-family: &quot;Manrope-SemiBold&quot;, sans-serif;font-size: 24px;font-weight: 600;position: absolute;left: calc(50% - 398px);top: 308px;">Order Summary</div>
            <div class="group-414" style="box-sizing: border-box;width: 231px;height: 49px;position: static;">
              <div class="group-411" style="box-sizing: border-box;width: 231px;height: 19px;position: static;">
                <div class="date" style="box-sizing: border-box;color: #000000;text-align: left;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 14px;font-weight: 400;position: absolute;left: 562px;top: 396px;">Date :</div>
                <div class="_24-01-2024" style="box-sizing: border-box;color: #000000;text-align: left;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 14px;font-weight: 400;position: absolute;left: 724px;top: 396px;">24.01,2024</div>
              </div>
              <div class="group-412" style="box-sizing: border-box;width: 231px;height: 19px;position: static;">
                <div class="order-no" style="box-sizing: border-box;color: #000000;text-align: left;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 14px;font-weight: 400;position: absolute;left: 562px;top: 366px;">Order No :</div>
                <div class="_193031004" style="box-sizing: border-box;color: #000000;text-align: left;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 14px;font-weight: 400;position: absolute;left: 724px;top: 366px;">193031004</div>
              </div>
            </div>
            <div class="group-401" style="box-sizing: border-box;width: 374px;height: 180px;position: static;">
              <img class="moringa-powder-6" src="moringa-powder-60.png" style="box-sizing: border-box;width: 89px;height: 138px;position: absolute;left: calc(50% - 400px);top: 451px;transform-origin: 0 0;transform: rotate(0deg) scale(1, 1);object-fit: cover;">
              <div class="moringa-powder" style="box-sizing: border-box;color: #000000;text-align: left;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 15px;line-height: 167%;font-weight: 400;position: absolute;left: 678px;top: 459px;">MORINGA POWDER</div>
              <div class="_1000-tk" style="box-sizing: border-box;color: #000000;text-align: left;font-family: &quot;Manrope-Medium&quot;, sans-serif;font-size: 14px;line-height: 150%;font-weight: 500;position: absolute;left: 678px;top: 496px;">1000 TK</div>
              <div class="qty-2" style="box-sizing: border-box;color: #000000;text-align: left;font-family: &quot;Manrope-Medium&quot;, sans-serif;font-size: 14px;line-height: 150%;font-weight: 500;position: absolute;left: 678px;top: 529px;">QTY : 2</div>
              <div class="standard-shipping-5-7-days" style="box-sizing: border-box;color: #636363;text-align: left;font-family: &quot;Manrope-Medium&quot;, sans-serif;font-size: 10px;line-height: 150%;font-weight: 500;position: absolute;left: 678px;top: 569px;">
                Standard Shipping: 5-7 Days
              </div>
              <div class="line-55" style="box-sizing: border-box;border-style: solid;border-color: #adadad;border-width: 1px 0 0 0;width: 374px;height: 0px;position: absolute;left: 554px;top: 610px;"></div>
              <div class="line-56" style="box-sizing: border-box;border-style: solid;border-color: #adadad;border-width: 1px 0 0 0;width: 374px;height: 0px;position: absolute;left: 554px;top: 430px;"></div>
            </div>
            <div class="group-401" style="box-sizing: border-box;width: 374px;height: 180px;position: static;">
              <img class="moringa-powder-6" src="moringa-powder-60.png" style="box-sizing: border-box;width: 89px;height: 138px;position: absolute;left: calc(50% - 400px);top: 451px;transform-origin: 0 0;transform: rotate(0deg) scale(1, 1);object-fit: cover;">
              <div class="moringa-powder" style="box-sizing: border-box;color: #000000;text-align: left;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 15px;line-height: 167%;font-weight: 400;position: absolute;left: 678px;top: 459px;">MORINGA POWDER</div>
              <div class="_1000-tk" style="box-sizing: border-box;color: #000000;text-align: left;font-family: &quot;Manrope-Medium&quot;, sans-serif;font-size: 14px;line-height: 150%;font-weight: 500;position: absolute;left: 678px;top: 496px;">1000 TK</div>
              <div class="qty-2" style="box-sizing: border-box;color: #000000;text-align: left;font-family: &quot;Manrope-Medium&quot;, sans-serif;font-size: 14px;line-height: 150%;font-weight: 500;position: absolute;left: 678px;top: 529px;">QTY : 2</div>
              <div class="standard-shipping-5-7-days" style="box-sizing: border-box;color: #636363;text-align: left;font-family: &quot;Manrope-Medium&quot;, sans-serif;font-size: 10px;line-height: 150%;font-weight: 500;position: absolute;left: 678px;top: 569px;">
                Standard Shipping: 5-7 Days
              </div>
              <div class="line-55" style="box-sizing: border-box;border-style: solid;border-color: #adadad;border-width: 1px 0 0 0;width: 374px;height: 0px;position: absolute;left: 554px;top: 610px;"></div>
              <div class="line-56" style="box-sizing: border-box;border-style: solid;border-color: #adadad;border-width: 1px 0 0 0;width: 374px;height: 0px;position: absolute;left: 554px;top: 430px;"></div>
            </div>
            <div class="subtotal-discount-delivery-charge-vat" style="box-sizing: border-box;color: #000000;text-align: left;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 10px;font-weight: 400;position: absolute;left: 562px;top: 625px;">
              Subtotal
              <br style="box-sizing: border-box;">
              Discount
              <br style="box-sizing: border-box;">
              Delivery Charge
              <br style="box-sizing: border-box;">
              VAT
            </div>
            <div class="group-415" style="box-sizing: border-box;width: 156px;height: 14px;position: static;">
              <div class="total" style="box-sizing: border-box;color: #000000;text-align: right;font-family: &quot;Manrope-Medium&quot;, sans-serif;font-size: 10px;font-weight: 500;position: absolute;left: 562px;top: 705px;">Total</div>
              <div class="_2070-tk" style="box-sizing: border-box;color: #000000;text-align: right;font-family: &quot;Manrope-Medium&quot;, sans-serif;font-size: 10px;font-weight: 500;position: absolute;left: 678px;top: 705px;">2070 Tk.</div>
            </div>
            <div class="_2000-tk-0-tk-60-tk-10-tk" style="box-sizing: border-box;color: #000000;text-align: left;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 10px;font-weight: 400;position: absolute;left: 679px;top: 625px;">
              2000 Tk.
              <br style="box-sizing: border-box;">
              0 Tk.
              <br style="box-sizing: border-box;">
              60 Tk.
              <br style="box-sizing: border-box;">
              10 Tk.
            </div>
            <div class="line-562" style="box-sizing: border-box;border-style: solid;border-color: #000000;border-width: 1px 0 0 0;width: 374px;height: 0px;position: absolute;left: 554px;top: 693px;transform-origin: 0 0;transform: rotate(0deg) scale(1, 1);"></div>
          </div>
          <div class="group-422" style="box-sizing: border-box;width: 257px;height: 404px;position: static;">
            <div class="customer-information" style="box-sizing: border-box;color: #000000;text-align: center;font-family: &quot;Manrope-SemiBold&quot;, sans-serif;font-size: 24px;font-weight: 600;position: absolute;left: calc(50% - -150px);top: 309px;">Customer Information</div>
            <div class="group-419" style="box-sizing: border-box;width: 174px;height: 126px;position: static;">
              <div class="arman-hossain-house-no-10-neer-jasmine-road-2-block-a-section-2-mirpur-2-dhaka-1316-mobile-01799525302" style="box-sizing: border-box;color: #000000;text-align: right;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 14px;line-height: 16px;font-weight: 400;position: absolute;left: 1193px;top: 410px;width: 174px;height: 82px;">
                Arman Hossain,
                <br style="box-sizing: border-box;">
                House no 10 Neer Jasmine road 2 block A section 2 Mirpur 2,
                Dhaka 1316
                <br style="box-sizing: border-box;">
                Mobile: 01799525302
              </div>
              <div class="shipping-address" style="box-sizing: border-box;color: #000000;text-align: center;font-family: &quot;Manrope-SemiBold&quot;, sans-serif;font-size: 15px;font-weight: 600;position: absolute;left: calc(50% - -273px);top: 366px;">Shipping Address :</div>
            </div>
            <div class="group-418" style="box-sizing: border-box;width: 174px;height: 126px;position: static;">
              <div class="arman-hossain-house-no-10-neer-jasmine-road-2-block-a-section-2-mirpur-2-dhaka-1316-mobile-017995253022" style="box-sizing: border-box;color: #000000;text-align: right;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 14px;line-height: 16px;font-weight: 400;position: absolute;left: 1193px;top: 574px;width: 174px;height: 82px;">
                Arman Hossain,
                <br style="box-sizing: border-box;">
                House no 10 Neer Jasmine road 2 block A section 2 Mirpur 2,
                Dhaka 1316
                <br style="box-sizing: border-box;">
                Mobile: 01799525302
              </div>
              <div class="billing-address" style="box-sizing: border-box;color: #000000;text-align: center;font-family: &quot;Manrope-SemiBold&quot;, sans-serif;font-size: 15px;font-weight: 600;position: absolute;left: calc(50% - -293px);top: 530px;">Billing Address :</div>
            </div>
            <div class="group-420" style="box-sizing: border-box;width: 178px;height: 19px;position: static;">
              <div class="order-status" style="box-sizing: border-box;color: #000000;text-align: left;font-family: &quot;Manrope-SemiBold&quot;, sans-serif;font-size: 14px;font-weight: 600;position: absolute;left: 1189px;top: 694px;">Order Status :</div>
              <div class="pending" style="box-sizing: border-box;color: #000000;text-align: left;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 14px;font-weight: 400;position: absolute;left: 1310px;top: 694px;width: 57px;height: 16px;">Pending</div>
            </div>
          </div>
        </div>
        <div class="line-57" style="box-sizing: border-box;border-style: solid;border-color: #000000;border-width: 1px 0 0 0;width: 814px;height: 0px;position: absolute;left: 554px;top: 771px;transform-origin: 0 0;transform: rotate(0deg) scale(1, 1);"></div>
        <div class="group-417" style="box-sizing: border-box;width: 81.66px;height: 15.93px;position: static;">
          <div class="group-359" style="box-sizing: border-box;width: 81.66px;height: 15.93px;position: static;">
            <div class="frame" style="box-sizing: border-box;width: 14.87px;height: 14.87px;position: absolute;left: 554px;top: 797.53px;overflow: hidden;">
              <svg class="group" width="9" height="16" viewbox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg" style="box-sizing: border-box;width: 51.93%;height: 100%;position: absolute;right: 24.04%;left: 24.03%;bottom: 0%;top: 0%;overflow: visible;">
                <path d="M5.5843 15.3974V8.61675H7.85937L8.2007 5.97342H5.5843V4.28605C5.5843 3.52098 5.79588 2.9996 6.89422 2.9996L8.29279 2.99902V0.634741C8.05093 0.60331 7.2207 0.53125 6.2544 0.53125C4.23662 0.53125 2.85521 1.76289 2.85521 4.02425V5.97342H0.573242V8.61675H2.85521V15.3974H5.5843Z" fill="black" style="box-sizing: border-box;"></path>
              </svg>
            </div>
            <div class="frame2" style="box-sizing: border-box;width: 15.93px;height: 15.93px;position: absolute;left: 619.73px;top: 797px;overflow: hidden;">
              <svg class="group2" width="14" height="14" viewbox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" style="box-sizing: border-box;width: 80%;height: 80%;position: absolute;right: 10%;left: 10%;bottom: 10%;top: 10%;overflow: visible;">
                <path d="M13.0681 13.3355V8.66858C13.0681 6.37495 12.5743 4.62287 9.89842 4.62287C8.60825 4.62287 7.74814 5.3237 7.39772 5.99268H7.36587V4.82993H4.83331V13.3355H7.47736V9.11457C7.47736 7.99961 7.68443 6.93243 9.05424 6.93243C10.4081 6.93243 10.424 8.19074 10.424 9.17828V13.3196H13.0681V13.3355ZM0.532748 4.82993H3.1768V13.3355H0.532748V4.82993ZM1.85477 0.593079C1.01059 0.593079 0.325684 1.27798 0.325684 2.12217C0.325684 2.96635 1.01059 3.66719 1.85477 3.66719C2.69896 3.66719 3.38386 2.96635 3.38386 2.12217C3.38386 1.27798 2.69896 0.593079 1.85477 0.593079Z" fill="black" style="box-sizing: border-box;"></path>
              </svg>
            </div>
            <div class="frame3" style="box-sizing: border-box;width: 14.87px;height: 14.87px;position: absolute;left: 586.87px;top: 797.53px;overflow: hidden;">
              <svg class="group3" width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" style="box-sizing: border-box;width: 100%;height: 100%;position: absolute;right: 0%;left: 0%;bottom: 0%;top: 0%;overflow: visible;">
                <path d="M12.6206 3.28204C12.4216 3.28204 12.2597 3.44397 12.2597 3.64295C12.2597 3.84193 12.4216 4.00386 12.6206 4.00386C12.8196 4.00386 12.9815 3.84196 12.9815 3.64295C12.9815 3.44395 12.8196 3.28204 12.6206 3.28204ZM8.2992 4.76474C6.53495 4.76474 5.09961 6.20008 5.09961 7.96433C5.09961 9.72858 6.53495 11.1639 8.2992 11.1639C10.0635 11.1639 11.4988 9.72861 11.4988 7.96436C11.4988 6.20011 10.0635 4.76474 8.2992 4.76474Z" fill="black" style="box-sizing: border-box;"></path>
                <path d="M11.657 0.53125H4.94154C2.6944 0.53125 0.866211 2.35944 0.866211 4.60661V11.3221C0.866211 13.5692 2.6944 15.3974 4.94154 15.3974H11.657C13.9042 15.3974 15.7324 13.5692 15.7324 11.3221V4.60661C15.7324 2.35944 13.9042 0.53125 11.657 0.53125ZM8.29929 12.0418C6.05093 12.0418 4.22181 10.2127 4.22181 7.96433C4.22181 5.71597 6.05096 3.88688 8.29929 3.88688C10.5476 3.88688 12.3768 5.71599 12.3768 7.96433C12.3768 10.2127 10.5476 12.0418 8.29929 12.0418ZM12.6207 4.88181C11.9376 4.88181 11.3818 4.32607 11.3818 3.64298C11.3818 2.95989 11.9376 2.40412 12.6207 2.40412C13.3038 2.40412 13.8595 2.95986 13.8595 3.64295C13.8595 4.32604 13.3038 4.88181 12.6207 4.88181Z" fill="black" style="box-sizing: border-box;"></path>
              </svg>
            </div>
          </div>
        </div>
        <div class="this-is-an-automatic-generated-email-from-our-subscription-list-please-do-not-reply-to-this-email" style="box-sizing: border-box;color: #6d6e70;text-align: center;font-family: &quot;Manrope-SemiBold&quot;, sans-serif;font-size: 12px;line-height: 167%;font-weight: 600;position: absolute;left: calc(50% - 297px);top: 846px;width: 595px;">
          This is an automatic generated email from our subscription list.
          Please do not reply to this email.
        </div>

        <div class="group-416" style="box-sizing: border-box;width: 150px;height: 17px;position: static;">
          <div class="privacy-policy" style="box-sizing: border-box;color: #000000;text-align: left;font-family: &quot;Manrope-SemiBold&quot;, sans-serif;font-size: 10px;line-height: 167%;font-weight: 600;position: absolute;left: 1217px;top: 796px;">Privacy Policy</div>
          <div class="contact-us" style="box-sizing: border-box;color: #000000;text-align: left;font-family: &quot;Manrope-SemiBold&quot;, sans-serif;font-size: 10px;line-height: 167%;font-weight: 600;position: absolute;left: 1313px;top: 796px;">Contact Us</div>
          <div class="ellipse-1" style="box-sizing: border-box;background: #d9d9d9;border-radius: 50%;width: 4px;height: 4px;position: absolute;left: 1296px;top: 803px;"></div>
        </div>
      </div>
    </div>
    <div class="main" style="display: none;">
      <div class="i-phone-13-14-1">
        <img class="moringa-powder-6" src="moringa-powder-60.png" style="width: 89px;height: 138px;position: absolute;left: calc(50% - 400px);top: 451px;transform-origin: 0 0;transform: rotate(0deg) scale(1, 1);object-fit: cover;">
        <div class="moringa-powder" style="color: #000000;text-align: left;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 15px;line-height: 167%;font-weight: 400;position: absolute;left: 678px;top: 459px;">MORINGA POWDER</div>
        <div class="_1000-tk" style="color: #000000;text-align: left;font-family: &quot;Manrope-Medium&quot;, sans-serif;font-size: 14px;line-height: 150%;font-weight: 500;position: absolute;left: 678px;top: 496px;">1000 TK</div>
        <div class="qty-2" style="color: #000000;text-align: left;font-family: &quot;Manrope-Medium&quot;, sans-serif;font-size: 14px;line-height: 150%;font-weight: 500;position: absolute;left: 678px;top: 529px;">QTY : 2</div>
        <div class="standard-shipping-5-7-days" style="color: #636363;text-align: left;font-family: &quot;Manrope-Medium&quot;, sans-serif;font-size: 10px;line-height: 150%;font-weight: 500;position: absolute;left: 678px;top: 569px;">
          Standard Shipping: 5-7 Days
        </div>
        <img class="moringa-powder-6" src="moringa-powder-60.png" style="width: 89px;height: 138px;position: absolute;left: calc(50% - 400px);top: 451px;transform-origin: 0 0;transform: rotate(0deg) scale(1, 1);object-fit: cover;">
        <div class="moringa-powder" style="color: #000000;text-align: left;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 15px;line-height: 167%;font-weight: 400;position: absolute;left: 678px;top: 459px;">MORINGA POWDER</div>
        <div class="_1000-tk" style="color: #000000;text-align: left;font-family: &quot;Manrope-Medium&quot;, sans-serif;font-size: 14px;line-height: 150%;font-weight: 500;position: absolute;left: 678px;top: 496px;">1000 TK</div>
        <div class="qty-2" style="color: #000000;text-align: left;font-family: &quot;Manrope-Medium&quot;, sans-serif;font-size: 14px;line-height: 150%;font-weight: 500;position: absolute;left: 678px;top: 529px;">QTY : 2</div>
        <div class="standard-shipping-5-7-days" style="color: #636363;text-align: left;font-family: &quot;Manrope-Medium&quot;, sans-serif;font-size: 10px;line-height: 150%;font-weight: 500;position: absolute;left: 678px;top: 569px;">
          Standard Shipping: 5-7 Days
        </div>
        <div class="line-55" style="border-style: solid;border-color: #adadad;border-width: 1px 0 0 0;width: 374px;height: 0px;position: absolute;left: 554px;top: 610px;"></div>
        <div class="line-56" style="border-style: solid;border-color: #adadad;border-width: 1px 0 0 0;width: 374px;height: 0px;position: absolute;left: 554px;top: 430px;"></div>
        <div class="thank-you-for-your-order" style="color: #000000;text-align: center;font-family: &quot;Manrope-Medium&quot;, sans-serif;font-size: 48px;font-weight: 500;position: absolute;left: calc(50% - 282px);top: 68px;">
          Thank You
          <br>
          for Your Order!
        </div>
        <div class="order-summary" style="color: #000000;text-align: center;font-family: &quot;Manrope-SemiBold&quot;, sans-serif;font-size: 24px;font-weight: 600;position: absolute;left: calc(50% - 398px);top: 308px;">Order Summary</div>
        <div class="customer-information" style="color: #000000;text-align: center;font-family: &quot;Manrope-SemiBold&quot;, sans-serif;font-size: 24px;font-weight: 600;position: absolute;left: calc(50% - -150px);top: 309px;">Customer Information</div>
        <div class="hello-arman-thank-you-for-your-recent-order-we-are-pleased-to-confirm-thar-we-have-received-your-order-and-it-is-currently-being-processed" style="color: #000000;text-align: center;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 14px;line-height: 150%;font-weight: 400;position: absolute;left: calc(50% - 481px);top: 155px;width: 963px;">
          Hello Arman,
          <br>
          Thank you for your recent order We are pleased to confirm thar we have
          received your order and it is currently being processed.
        </div>
        <div class="group-4042">
          <div class="rectangle-80" style="background: #006a5d;border-radius: 86px;width: 335px;height: 50px;position: absolute;left: 793px;top: 218px;"></div>
          <div class="view-order" style="color: #ffffff;text-align: left;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 16px;line-height: 150%;font-weight: 400;position: absolute;left: 921px;top: 231px;">View Order</div>
        </div>
        <div class="group-413">
          <div class="arman-hossain-house-no-10-neer-jasmine-road-2-block-a-section-2-mirpur-2-dhaka-1316-mobile-01799525302" style="color: #000000;text-align: right;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 14px;line-height: 16px;font-weight: 400;position: absolute;left: 1193px;top: 410px;width: 174px;height: 82px;">
            Arman Hossain,
            <br>
            House no 10 Neer Jasmine road 2 block A section 2 Mirpur 2, Dhaka
            1316
            <br>
            Mobile: 01799525302
          </div>
          <div class="shipping-address" style="color: #000000;text-align: center;font-family: &quot;Manrope-SemiBold&quot;, sans-serif;font-size: 15px;font-weight: 600;position: absolute;left: calc(50% - -273px);top: 366px;">Shipping Address :</div>
        </div>
        <div class="group-411" style="width: 231px;height: 19px;position: static;">
          <div class="date" style="color: #000000;text-align: left;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 14px;font-weight: 400;position: absolute;left: 562px;top: 396px;">Date :</div>
          <div class="_24-01-2024" style="color: #000000;text-align: left;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 14px;font-weight: 400;position: absolute;left: 724px;top: 396px;">24.01,2024</div>
        </div>
        <div class="group-412" style="width: 231px;height: 19px;position: static;">
          <div class="order-no" style="color: #000000;text-align: left;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 14px;font-weight: 400;position: absolute;left: 562px;top: 366px;">Order No :</div>
          <div class="_193031004" style="color: #000000;text-align: left;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 14px;font-weight: 400;position: absolute;left: 724px;top: 366px;">193031004</div>
        </div>
        <div class="arman-hossain-house-no-10-neer-jasmine-road-2-block-a-section-2-mirpur-2-dhaka-1316-mobile-017995253022" style="color: #000000;text-align: right;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 14px;line-height: 16px;font-weight: 400;position: absolute;left: 1193px;top: 574px;width: 174px;height: 82px;">
          Arman Hossain,
          <br>
          House no 10 Neer Jasmine road 2 block A section 2 Mirpur 2, Dhaka 1316
          <br>
          Mobile: 01799525302
        </div>
        <div class="arman-hossain-house-no-10-neer-jasmine-road-2-block-a-section-2-mirpur-2-dhaka-1316-mobile-017995253023">
          Arman Hossain,
          <br>
          House no 10 Neer Jasmine road 2 block A section 2 Mirpur 2, Dhaka 1316
          <br>
          Mobile: 01799525302
        </div>
        <div class="subtotal-discount-delivery-charge-vat" style="color: #000000;text-align: left;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 10px;font-weight: 400;position: absolute;left: 562px;top: 625px;">
          Subtotal
          <br>
          Discount
          <br>
          Delivery Charge
          <br>
          VAT
        </div>
        <div class="total" style="color: #000000;text-align: right;font-family: &quot;Manrope-Medium&quot;, sans-serif;font-size: 10px;font-weight: 500;position: absolute;left: 562px;top: 705px;">Total</div>
        <div class="_2070-tk" style="color: #000000;text-align: right;font-family: &quot;Manrope-Medium&quot;, sans-serif;font-size: 10px;font-weight: 500;position: absolute;left: 678px;top: 705px;">2070 Tk.</div>
        <div class="_2000-tk-0-tk-60-tk-10-tk" style="color: #000000;text-align: left;font-family: &quot;Manrope-Regular&quot;, sans-serif;font-size: 10px;font-weight: 400;position: absolute;left: 679px;top: 625px;">
          2000 Tk.
          <br>
          0 Tk.
          <br>
          60 Tk.
          <br>
          10 Tk.
        </div>
        <div class="line-562" style="border-style: solid;border-color: #000000;border-width: 1px 0 0 0;width: 374px;height: 0px;position: absolute;left: 554px;top: 693px;transform-origin: 0 0;transform: rotate(0deg) scale(1, 1);"></div>
        <div class="shipping-address2">Shipping Address :</div>
        <div class="billing-address" style="color: #000000;text-align: center;font-family: &quot;Manrope-SemiBold&quot;, sans-serif;font-size: 15px;font-weight: 600;position: absolute;left: calc(50% - -293px);top: 530px;">Billing Address :</div>
        <div class="order-status" style="color: #000000;text-align: left;font-family: &quot;Manrope-SemiBold&quot;, sans-serif;font-size: 14px;font-weight: 600;position: absolute;left: 1189px;top: 694px;">Order Status :</div>

        <div class="group-416" style="width: 150px;height: 17px;position: static;">
          <div class="privacy-policy" style="color: #000000;text-align: left;font-family: &quot;Manrope-SemiBold&quot;, sans-serif;font-size: 10px;line-height: 167%;font-weight: 600;position: absolute;left: 1217px;top: 796px;">Privacy Policy</div>
          <div class="contact-us" style="color: #000000;text-align: left;font-family: &quot;Manrope-SemiBold&quot;, sans-serif;font-size: 10px;line-height: 167%;font-weight: 600;position: absolute;left: 1313px;top: 796px;">Contact Us</div>
          <div class="ellipse-1" style="background: #d9d9d9;border-radius: 50%;width: 4px;height: 4px;position: absolute;left: 1296px;top: 803px;"></div>
        </div>

        <div class="this-is-an-automatic-generated-email-from-our-subscription-list-please-do-not-reply-to-this-email" style="color: #6d6e70;text-align: center;font-family: &quot;Manrope-SemiBold&quot;, sans-serif;font-size: 12px;line-height: 167%;font-weight: 600;position: absolute;left: calc(50% - 297px);top: 846px;width: 595px;">
          This is an automatic generated email from our subscription list.
          <br>
          Please do not reply to this email.
        </div>
      </div>
    </div>
  </body>
</html>
