<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body style="margin: 0;padding: 0;box-sizing: border-box; ">
<div  class="flex-container" style="display: flex;justify-content: center; width: 100%;">
      <div class="main-container">
            <header style="text-align: center;padding: 10px; width:600px;">
                  <img style="height:24px" src="https://krystallife.store/assets/images/krystallife-header-logo.png" alt="">
                 </header >
                 <div class="all" style="justify-content: center;text-align:center;  width:600px; ">
            
                  <div class="title" style="text-align: center;">
                        <h1>
                              Thank You for your Order!
                        </h1>
                        <span>
                              Hello Arman
                        </span>
                        <span>
                              Thank you for your recent order We are pleased to confirm thar we have received your order and it is currently being processed.
                        </span>
                        
                       </div>
                       <button style="margin:20px; background:#006A5D; border:none; border-radius:86px;width:335px;height:50px;color:white" >
                              View Order
                        </button>
            
            
                        <div class="order" style="display: flex; justify-content:center;gap:20rem" >
                              <div class="orderSummary" style="text-align: left;">
                                    <h2>Order Summary</h2>
                                    <span>Order No:</span> <br>
                                    <span>Date:</span>
                                    <hr>
                                    <div class="content" style="display: flex;">
            
                                          <div class="image" >
                                            <img style="width:89px; height:138px" src="https://api.krystallife.store/images/product/img-111710143798394.png" alt="">    
                                          </div>
                                          <div class="span">
                                           <span>Moringa Powder</span> <br>
                                          <span>1000 TK</span> <br>
                                          <span>QTY:2</span> <br>
                                          <h4>Standard Shipping 5-7 Days</h4>     
                                          </div>
                                          
                                    </div>
                                    <hr>
                                    <div class="content" style="display: flex;">
            
                                          <div class="image" >
                                            <img style="width:89px; height:138px" src="https://api.krystallife.store/images/product/img-111710143798394.png" alt="">    
                                          </div>
                                          <div class="span">
                                           <span>Moringa Powder</span> <br>
                                          <span>1000 TK</span> <br>
                                          <span>QTY:2</span> <br>
                                          <h4>Standard Shipping 5-7 Days</h4>     
                                          </div>
                                          
                                    </div>
                                    <hr>
                                    <div class="content" style="display: flex;">
            
                                          <div class="image" >
                                            <img style="width:89px; height:138px" src="https://api.krystallife.store/images/product/img-111710143798394.png" alt="">    
                                          </div>
                                          <div class="span">
                                           <span>Moringa Powder</span> <br>
                                          <span>1000 TK</span> <br>
                                          <span>QTY:2</span> <br>
                                          <h4>Standard Shipping 5-7 Days</h4>     
                                          </div>
                                          
                                    </div>
                                    <hr>
                                    <div class="content" style="display: flex;">
            
                                          <div class="image" >
                                            <img style="width:89px; height:138px" src="https://api.krystallife.store/images/product/img-111710143798394.png" alt="">    
                                          </div>
                                          <div class="span">
                                           <span>Moringa Powder</span> <br>
                                          <span>1000 TK</span> <br>
                                          <span>QTY:2</span> <br>
                                          <h4>Standard Shipping 5-7 Days</h4>     
                                          </div>
                                          
                                    </div>
                                    <hr>
                                    <div class="content" style="display: flex;">
            
                                          <div class="image" >
                                            <img style="width:89px; height:138px" src="https://api.krystallife.store/images/product/img-111710143798394.png" alt="">    
                                          </div>
                                          <div class="span">
                                           <span>Befit Lemon with Sucralose</span> <br>
                                          <span>1000 TK</span> <br>
                                          <span>QTY:2</span> <br>
                                          <h4>Standard Shipping 5-7 Days</h4>     
                                          </div>
                                          
                                    </div>
                                    <hr>
                                    <div class="payment">
                                          <span>SubTotal 2000tk</span>
                                          <br>
                                          <span>Discount 0TK</span>
                                          <br>
                                          <span>Delevary Charge 60tk</span>
                                          <br>
                                          <span>Vat 10tk</span>
                                          <br>
                                          <hr>
                                          <span>Total 2070tk</span>
                                    </div>
                              </div>
                              <div class="contactInformation" style="text-align: right;">
                                    <h2 style="font-size: 24px;">Customer Information</h2>
            
                                    <div class="Address" >
                                          <h2 style="font-size: 15px;">Shipping Address</h2>
                                          <br>
                                          <br>
                                          <span style="justify-content:rignt; font-size: 14px;">
                                                Arman Hossain,<br>House no 10 Neer Jasmine <br> road 2 block A section 2 <br> Mirpur 2, Dhaka 1316 <br>Mobile: 01799525302
                                          </span>
            
                                          <br>
                                          <br>
                                          <br>
                                          <h2 style="font-size: 15px;">Billing Address</h2>
                                          <br>
                                          <span style="justify-content:rignt; font-size: 14px;">Arman Hossain,<br>House no 10 Neer Jasmine <br> road 2 block A section 2 <br> Mirpur 2, Dhaka 1316 <br>Mobile: 01799525302</span>
                                    </div>
            
                                    <h2 style="font-size: 14px;">
                                          Order Status:Pending
                                    </h2>
            
            
                              </div>
                        </div>
            
                  </div>
          </div>
</div>
   
     
     
     
</body>
</html>